@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #F7F6DC;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #1a1a1a;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}


button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #7FB77E;
    border: 3px solid #7FB77E;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

button.normal1{
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15px;
    color: #7FB77E;
    border: 3px solid #7FB77E;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

button.normal2{
    font-size: 21px;
    font-weight: 600;
    padding: 5px 13px 14px;

    color: #7FB77E;
    border: 3px solid #7FB77E;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}


button.white{
    font-size: 15px;
    font-weight: 700;
    padding: 11px 18px;
    color: #1a1a1a;
    background-color: transparent;
    border: 1px solid #1a1a1a;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

body { 
    width: 100%;
}


.logo {
    padding-top: 10px; 
  }

/* HEADER */

#header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 80px;
    background-color: #D0F5BE;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
    color: 	 #1a1a1a;
    transition: 0.3s ease;
}   

#navbar li a:hover,
#navbar li a.active {
    color: #557A46;
    width: 0%;
}

#navbar li a.active::after, 
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #557A46;
    position: relative;
    height: 3px;
    width: 95%;
    left: 0;
    bottom: -5px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}


/* HOME PAGE */
#hero {
    background-image: url("newimage/homepage.jpg"); 
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-position: 100% 50%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#hero h4 {
    padding-bottom: 15px ;
}

#hero h1 {
    color: #1a1a1a;
}
#hero h3 {
    font-family: arial,sans-serif;
    font-style: italic;
}

#hero p {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 1000;
}

#hero button {
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    border: 3px solid #B3C99C;
    background-color: #B3C99C;
    transition: ease-out 0.3s;
    font-size: 20px;
    outline: none;
    border-radius: none;
    font-weight: 600;
    border-bottom: 3px solid;
}

#hero button:hover {
  box-shadow: inset 160px 0 0 0 #A4BC92; 
  border: 3px solid #A4BC92;
  cursor: pointer;
  color: #1a1a1a;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
    border: 3px solid #1a1a1a;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;

}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #1a1a1a;
    background-color: #efdecd;
}

#prod1 {
    text-align: center;
}


#prod1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#prod1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1.5px solid #1a1a1a;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 20px #C7E9B0;
    margin: 15px 0;
    transition: 0.3s ease;
     position: relative; 

}

#prod1 .pro:hover{
    box-shadow: 15px 10px 40px #A4BC92;
}
#prod1 .pro img{
    width :100%;
}

#prod1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#prod1 .pro .des span {
    color: #696969;
    font-size: 15px;
}

#prod1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 15px;
}

#prod1 .pro .des i {
 font-size: 12px;
 color: rgb(145, 118, 8);
}

#prod1 .pro .des h4 {
    padding-top: 7px;
    font-size: 25px;
    font-weight: 700;
    color: #A4BC92;
}
#prod1 .pro .heart{
    position: relative;
    color: #A4BC92;
    top: -435px;
    padding-top: 5px;
    padding-left: 31px;
    left: -127px;
    font-size: 20px; 
}

#prod1 .pro .heart1{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 2px;
    padding-left: 31px;
    left: -125px;
    font-size: 20px; 
}

#prod1 .pro .heart1-2{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 2px;
    padding-left: 31px;
    left: -125px;
    font-size: 20px; 
}

#prod1 .pro .heart2, .heart-2{
    position: relative;
    color: #A4BC92;
    top: -435px;
    padding-top: 2px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart3, .heart-3, .heart-3-1{
    position: relative;
    color: #A4BC92;
    top: -440px;
    padding-top: 35px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}
#prod1 .pro .heart-3-1{
    position: relative;
    color: #A4BC92;
    top: -463px;
    padding-top: 35px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart2-store{
    position: relative;
    color: #A4BC92;
    top: -432px;
    padding-top: 5px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart2-store1{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}
#prod1 .pro .heart21-store1{
    position: relative;
    color: #A4BC92;
    top: -407px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart2-store2{
    position: relative;
    color: #A4BC92;
    top: -405px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart3-store{
    position: relative;
    color: #A4BC92;
    top: -500px;
    padding-top: 1px;
    padding-left: 65px;
    left: -180px;
    font-size: 20px; 
}

#prod1 .pro .heart-3-store2{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart-3-1-store2{
    position: relative;
    color: #A4BC92;
    top: -406px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}
#prod1 .pro .heart31-store{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart1-store3{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart3-store1{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}
#prod1 .pro .heart32-store1{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}

#prod1 .pro .heart2-store3{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}

#prod1 .pro .heart21-store3{
    position: relative;
    color: #A4BC92;
    top: -406px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart3-store2{
    position: relative;
    color:#A4BC92;
    top: -435px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}

#prod1 .pro .heart1-store4{
    position: relative;
    color: #A4BC92;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px; 
    font-size: 20px; 
}


/* #prod1 .pro .heart12-store4{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
} */

#prod1 .pro .heart2-store4{
    position: relative;
    color: #a0785a;
    top: -405px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart213-store4{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}
#prod1 .pro .heart3-store4{
    position: relative;
    color: #a0785a;
    top: -434px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart4-store4{
    position: relative;
    color: #a0785a;
    top: -434px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}

#prod1 .pro .heart-storewomen{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}

#prod1 .pro .heart1-storewomen{
    position: relative;
    color: #a0785a;
    top: -477px;
    padding-top: 1px;
    padding-left: 65px;
    left: -177px;
    font-size: 20px;
}

#prod1 .pro .heart12-storewomen{
    position: relative;
    color: #a0785a;
    top: -407px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}

#prod1 .pro .heart13-storewomen{
    position: relative;
    color: #a0785a;
    top: -431px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}

#prod1 .pro .wheart2{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .wheart4{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}
#prod1 .pro .wheart4store{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;  
}

#prod1 .pro .wpants-heart1{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .wpants1-heart1{
    position: relative;
    color: #a0785a;
    top: -406px;
    padding-top: 1px;
    padding-left: 65px;
    left: -144px;
    font-size: 20px; 
}


#prod1 .pro .wpants-heart2{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .mheart1{
    position: relative;
    color: #a0785a;
    top: -405px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .mheart2{
    position: relative;
    color: #a0785a;
    top: -435px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .mheart3{
    position: relative;
    color: #a0785a;
    top: -435px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .mheart4{
    position: relative;
    color: #a0785a;
    top: -435px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .mpheart1{
    position: relative;
    color: #a0785a;
    top: -429px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}

#prod1 .pro .mp1heart1{
    position: relative;
    color: #a0785a;
    top: -405px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .mpheart2{
    position: relative;
    color: #a0785a;
    top: -405px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .mp2heart2{
    position: relative;
    color: #a0785a;
    top: -430px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px;
}
#prod1 .pro .mpheart3{
    position: relative;
    color: #a0785a;
    top: -435px;
    padding-top: 1px;
    padding-left: 65px;
    left: -143px;
    font-size: 20px; 
}

#prod1 .pro .heart:hover,
#prod1 .pro .heart1:hover,
#prod1 .pro .heart2:hover,
#prod1 .pro .heart3:hover,
#prod1 .pro .heart-2:hover,
#prod1 .pro .heart-3:hover,
#prod1 .pro .heart-3-1:hover,
#prod1 .pro .heart2-store:hover,
#prod1 .pro .heart2-store1:hover,
#prod1 .pro .heart2-store2:hover,
#prod1 .pro .heart3-store:hover,
#prod1 .pro .heart3-store1:hover,
#prod1 .pro .heart3-store2:hover,
#prod1 .pro .heart1-store4:hover,
#prod1 .pro .heart2-store4:hover,
#prod1 .pro .heart3-store4:hover,
#prod1 .pro .wheart2:hover,
#prod1 .pro .wheart4:hover,
#prod1 .pro .wpants-heart1:hover,
#prod1 .pro .wpants-heart2:hover,
#prod1 .pro .mheart1:hover,
#prod1 .pro .mheart2:hover,
#prod1 .pro .mheart3:hover,
#prod1 .pro .mheart4:hover,
#prod1 .pro .mpheart2:hover,
#prod1 .pro .heart1-2:hover,
#prod1 .pro .heart31-store:hover,
#prod1 .pro .heart32-store1:hover,
#prod1 .pro .heart1-storewomen:hover,
#prod1 .pro .wheart4store:hover,
#prod1 .pro .heart21-store1:hover,
#prod1 .pro .heart-3-store2:hover,
#prod1 .pro .heart-3-1-store2:hover,
#prod1 .pro .heart1-store3:hover,
#prod1 .pro .heart2-store3:hover,
#prod1 .pro .heart21-store3:hover,
#prod1 .pro .heart4-store4:hover,
#prod1 .pro .heart-storewomen:hover,
#prod1 .pro .heart12-storewomen:hover,
#prod1 .pro .heart13-storewomen:hover,
#prod1 .pro .wpants1-heart1:hover,
#prod1 .pro .mpheart1:hover,
#prod1 .pro .mp1heart1:hover,
#prod1 .pro .mp2heart2:hover,
#prod1 .pro .mpheart3:hover,
#prod1 .pro .heart213-store4:hover
{
    color: #7FB77E;
    stroke: #efdecd;
}


#prod1 .pro li{
    list-style: none;
}

#prod1 .pro li a {
    border-radius: 100px;
    border: 2px solid  #a0785a;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
    color: 	#8B4513;
    transition: 0.3s ease;
}

#prod1 .pro li a:hover{
    background-color:  #a0785a;
    color: 	#efdecd;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("newimage/banner1.jpg");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    font-family: 'Orelega One', cursive;
    color: #609966;
    font-size: 25px;
}

#banner h2 {
    font-family: 'Orelega One', cursive;
    color: #40513B;
    font-size: 50px;
    padding: 10px 0;
}

#banner h2 span{
    font-family: 'Orelega One', cursive;
    color: #609966;
    font-size: 50px;
    padding: 10px 0;
}

#banner button:hover{
    background-color: #40513B;
    border: none;
    color: #EDF1D6;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner1.jpeg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner2.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4 {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #ccc5b9;
    border: 1px solid #ccc5b9;
    transition: ease-out 0.3s;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    background-image: url("newimage/footer1.jpg");
    background-position: 100% 100%;
    background-repeat: repeat;
    background-color: #ccc5b9;
}

#newsletter h4{
    font-size: 35px;
    font-weight: 700;
    color: #1a1a1a;
}

#newsletter p{
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
}

#newsletter p span{
    color: 	#7A9D54;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 4.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter button{
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button:hover{
    background: #557A46;
    border: 1px solid #557A46;
    transition: ease-out 0.3s;
    color: #1a1a1a;
}


/* STORE PAGE */
#page-header{
    background-image: url("img/pageheader7.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2{
    text-align: right;
}

/* WOMEN'S SECTION BANNER */
#page-header1{
    background-image: url("img/bannerwomen.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header1 h2{
    text-align: right;
}

/* MEN'S SECTION BANNER */
#page-header2{
    background-image: url("img/hero5.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header2 h2{
    text-align: right;
}
/* END */
#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid  #a0785a;
    padding: 15px 20px;
    color: #a0785a;
    font-weight: 600;
}

#pagination a:hover{
    background-color:  #a0785a;
    color: 	#efdecd;
}


#pagination a.active{
    background-color:  #a0785a;
    color: 	#efdecd;
}

/* MEN AND WOMEN PANTS AND CLOTHES PAGINATION */

#pagination1 a{
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid  #a0785a;
    padding: 15px 20px;
    color: #a0785a;
    font-weight: 600;
   display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

#pagination1 a:hover{
    background-color:  #a0785a;
    color: 	#efdecd;
}


#pagination1 a.active{
    background-color:  #a0785a;
    color: 	#efdecd;
}

#prodetails .single-pro-details .heart {
    position: relative;
    color: #a0785a;
    font-size: 30px;
    bottom: -5px;
    left: 10px;
}

#prodetails .single-pro-image .heart1 {
    position: relative;
    color: #a0785a;
    font-size: 25px;
    top: -613px;
    left: 515px;
}

#prodetails .single-pro-image .heart2 {
    position: relative;
    color: #a0785a;
    font-size: 25px;
    top: -550px;
    left: 515px;
}

#prodetails .single-pro-details .heart:hover,
#prodetails .single-pro-image .heart1:hover,
#prodetails .single-pro-image .heart2:hover{
    color: #3f2213;
    stroke: #efdecd;
    
}

/* ABOUT SECTION */
#page-headerabout{
    background-image: url("img/about5.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-headerabout h2{
    text-align: right;
}

#page-headerabout h3{
    text-align: right;
    position: relative;
    left: -155px;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 40px;
}

/* CONTACT PAGE */
#page-contactabout{
    background-image: url("img/contact2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-contactabout h2{
    text-align: right;
    color: #fcead8;
}

#page-contactabout h3{
    text-align: right;
    color: #fcead8;
    font-size: 15px;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #ba8759;
    border-radius: 8px;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    background-color: transparent;
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #ba8759;
    border-radius: 8px;
}

#form-details form button{
    background-color: transparent;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    color: #ba8759;
    border: 2px solid #ba8759;
    border-radius: 8px;
}

#form-details form button:hover{
    background-color: #efdecd;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    color: #1a1a1a;
    border: 2px solid  #efdecd;
    border-radius: 8px;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}


/* SINGLE PRODUCT DETAILS  */

#prodetails{
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h5{
    font-size: 30px;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button:hover {
    color: #fcead8;
    background-color: #a0785a;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details select:focus{
    outline: none;
}

#prodetails .single-pro-details span{
    line-height: 25px;
    
}


/* CART PAGE */
#page-cart{
    background-image: url("img/cart2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#basket table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#basket table img{
    width: 70px;
}

#basket table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#basket table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#basket table td:nth-child(3){
    width: 300px;
    text-align: center;
}
#basket table td:nth-child(4),
#basket table td:nth-child(5),
#basket table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#basket table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#basket table thead{
    border: 1px solid #a0785a;
    border-left: none;
    border-right: none;
}

#basket table thead td{
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}

#basket table tbody tr td{
    padding-top: 15px;
}#basket table tbody tr td i{
    color: #a0785a;
}

#basket table tbody td{
    font-size: 13px;
}

/* #cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #a0785a;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}
#subtotal table td {
    width: 50%;
    border: 1px solid #a0785a;
    padding: 10px;
    font-size: 13px;
}

#subtotal h3{
    padding-bottom: 15px;
}

#subtotal button{
    border: 2px solid #a0785a;
}

#subtotal button:hover{
    background-color: #ba8759;
    border: 2px solid #ba8759;
    color: #efdecd;
}
/* FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0; 
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #1a1a1a;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;  
}

footer .follow i {
   color: #1a1a1a;
   padding-right: 4px;
   cursor: pointer;
   font-size: 25px;
}

footer .manufacters .row img{
    border: 1px solid #1a1a1a;
    border-radius: 6px;
}

footer .manufacters .row1 img {
    border: 1px solid #1a1a1a;
    border-radius: 6px;
}

footer .follow i:hover,
footer a:hover{
    color: #ba8759;
}

footer .copyright{
    width: 100%;
    text-align: center;
}
/* REVEAL  */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}



/* START MEDIA QUERY */
@media (max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ccc5b9;
        box-shadow: 0 30px 30px rgb(205,149,117);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #8B4513;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #8B4513;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #prod1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #newsletter .form {
        width: 70%;
    }
    #prod1 .pro .heart {
        position: relative;
        top: -415px;
        padding-top: 10px;
        padding-left: 125px;
    }
    #prod1 .pro .heart1 {
        position: relative;
        top: -415px;
        padding-top: 10px;
        padding-left: 125px;
    }

    #prod1 .pro .heart1-2 {
        position: relative;
        color: #a0785a;
        top: -407px;
        padding-top: 2px;
        padding-left: 29px;
        left: -112px;
    }
    #prod1 .pro .heart2 {
        position: relative;
        top: -415px;
        padding-top: 7px;
        padding-left: 125px;
        left: -162px;
    }
    #prod1 .pro .heart-2 {
        position: relative;
        top: -440px;
        padding-top: 7px;
        padding-left: 125px;
        left: -162px;
    }
    #prod1 .pro .heart3 {
        position: relative;
        top: -420px;
        padding-top: 37px;
        padding-left: 125px;
        left: -162px;
        font-size: 20px;
    }
    #prod1 .pro .heart-3 {
        position: relative;
        top: -420px;
        padding-top: 37px;
        padding-left: 125px;
        left: -162px;
        font-size: 20px;
    }
    #prod1 .pro .heart-3-1 {
        position: relative;
        top: -445px;
        padding-top: 39px;
        padding-left: 125px;
        left: -162px;
        font-size: 20px;
    }
    #hero button {
        margin-left: 10px;
        margin-right: 50px;
        width: 100px;
        left: 10px;
        height: 40px;
        border-bottom: 3px solid;
        font-size: 18px;
    }
/* CONTACT PAGE */
#page-contactabout {
    background-image: url("img/contact2.jpg");
    width: 100%;
    height: 20vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

    #page-contactabout h2 {
        text-align: center;
        color: #fcead8;
    }
    #page-contactabout h3 {
        text-align: center;
        color: #fcead8;
        font-size: 15px;
    }

    #form-details {
        display: flex;
        justify-content: space-between;
        margin: 40px;
        padding: 80px;
        border: 1px solid #ba8759;
        border-radius: 8px;
    }

    #form-details .people div img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        margin-left: 30px;
        margin-right: 20px;
    }

    #form-details .people div p {
        margin: 5;
        font-size: 13px;
        line-height: 25px;
    }

    /* ABOUT SECTION */
    #page-headerabout {
        background-image: url("img/about5.jpg");
        width: 100%;
        height: 20vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;
    }
    #page-headerabout h2 {
        text-align: center;
    }
    #page-headerabout h3 {
        text-align: center;
        left: 15px;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    } 
    #prod1 .pro {
        width: 100%;
    }
    #feature {
        justify-content: space-between;
    }
    h1 {
        font-size: 32px;
    }
    h4 {
        font-size: 15px;
    }
    #hero p {
        font-size: 15px;
    } 
    #hero button {
        width: 130px;
        height: 45px;
        text-transform: uppercase;
        transition: ease-out 0.3s;
        font-size: 15px;
        outline: none;
        border-radius: none;
        font-weight: 600;
        border-bottom: 3px solid;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
       margin-top: 20px ;
    }
    #newsletter input {
        width: 100%;
    }
    #prod1 .pro .heart {
        position: relative;
        top: -439px;
        padding-top: 1px;
        padding-left: 70px;
    }
    #prod1 .pro .heart1 {
        position: relative;
        top: -460px;
        padding-top: 1px;
        padding-left: 70px;
    }

    #prod1 .pro .heart1-2 {
        position: relative;
        color: #a0785a;
        top: -462px;
        padding-top: 2px;
        padding-left: 31px;
        left: -142px;
    }

    #prod1 .pro .heart2 {
        position: relative;
        top: -475px;
        padding-top: 7px;
        padding-left: 125px;
        left: -190px;
    }
    #prod1 .pro .heart-2 {
        position: relative;
        top: -475px;
        padding-top: 7px;
        padding-left: 125px;
        left: -190px;
    }
    #prod1 .pro .heart-3 {
        position: relative;
        top: -445px;
        padding-top: 7px;
        padding-left: 125px;
        left: -190px;
    }
    #prod1 .pro .heart-3-1 {
        position: relative;
        top: -445px;
        padding-top: 7px;
        padding-left: 125px;
        left: -190px;
    }
    #hero button {
        margin-left: -10px;
        margin-right: 40px;
        margin-top: 70px;
        width: 80px;
        left: 10px;
        height: 40px;
        border-bottom: 3px solid;
        font-size: 15px;
    }

    /* SINGLE PRODUCT */
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
      
    }

    /* ABOUT PAGE */

    #page-headerabout {
        padding-top: 10%;
        background-image: url("img/about5.jpg");
        background-size: cover;
        display: flex;
        height: auto;
        
    }

    #page-headerabout h2 {
        text-align: center;
        font-size: 20px;
    }
   
    #page-headerabout h3 {
        text-align: right;
      
    }

    #about-head {
        display: flex; flex-direction: column;
    
    } 
}